body {
    margin: 0;
}

#header {
    background-color: black;
    width: 100%;
    height: 242px;
    font-family: 'Roboto', sans-serif;
}

#body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

#content {
    width: 975px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
}

#content-side1 {
    height: 100%;
    width: 65%;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

#philCard1 {
    background-color: darkgray;
    height: 400px;
    padding: 16px;
}

#philCard1-1 {
    background-color: darkgray;
    height: 500px;
    padding: 16px;
}

#philCard2-1 {

      background-color: darkgray;
      height: 700px;
      padding: 16px;
}


#goPuff {
    width: 300px;
    height: 300px;
    margin-top: 16px;
}

#goPuff-1 {
    width: 300px;
    height: 300px;
    float: left;
}

#goPuffside {
    width: 200px;
    height: 160px;
    padding-bottom: 10px;
    padding-left: 45px;
}

#goPuffside2 {
    width: 70px;
    height: 70px;
    padding-bottom: 25px;
    padding-left: 10px;
}

#goPuffsidetext {
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#goPuffsidetext2 {
    font-size: 18px;
    padding-bottom: 10px;
    float: right;
    width: 200px;
}

#winterizationsidetext {
    font-size: 18px;
    padding-top:25px;
    padding-bottom: 10px;
    float: right;
    width: 200px;
}

#goPuffdate {
  font-size: 15px;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 23px;
}

#winterization{
  width: 300px;
  height: 180px;
  margin-top: 16px;
}

#winterizationside{
  width: 70px;
  height: 45px;
  padding-top: 20px;
  padding-left: 10px;
}

#winterization-1{
  width: 570px;
  height: 300px;
  margin-top: 16px;
  padding-left: 14px;
}

#p1 {
    float: right;
    width: 290px;
    font-size: 17px;
}

#p1-1 {
    font-size: 21px;
    width: 580px;
}

#p1-2 {
    font-size: 21px;
    float: right;
    padding-right: 10px;
    width: 290px;
    margin-top: -22px;
}

#p2-1{

      font-size: 19px;
      width: 600px;
}

#readmore {
    padding-left: 60%;
    font-size: 12px;
    color: darkblue;
}

#philCard2 {
    margin-top: 40px;
    background-color: darkgray;
    height: 237px;
    padding: 16px;
    margin-bottom: 25px;
}
#content-side2 {
    height: 100%;
    background-color: grey;
    width: 30%;
    float: left;
    margin-top: 20px;
}

#toptextside {
  font-size: 28;
  padding-bottom: 30px;
  margin: 15px;
}

#tabContainer {
    width: 975px;
    height: inherit;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#titleBanner {
    width: inherit;
    height: 212px;
    background-color: black;
    position: relative;
}

#image {
    height: 202px;
    width: 240px;
    position: absolute;
    top: 0;
    margin-top: 10px;
}

#title {
    height: inherit;
    width: 735px;
    float: right;
}
#tabs {
    width: inherit;
    height: 30px;
    position: absolute;
    bottom: 0;
    color: #575A5E;
}

.unclickedTab {
    width: 195px;
    height: inherit;
    float: left;
    background-color: #CDD0D6;
    text-decoration: none;
    color: #575A5E;
}

.clickedTab:hover, .unclickedTab:hover {
    background-color: #393A3D;
    cursor: pointer;
    color: #CDD0D6;
}

.clickedTab {
    width: 195px;
    height: inherit;
    float: left;
    background-color: #575A5E;
    text-decoration: none;
    color: #CDD0D6;
}

#aboutUs {
    width: 195px;
    height: inherit;
    float: left;
    background-color: #575A5E;
    color: #575A5E;
}

#titleTextBox {
    width: inherit;
    height: 50%;
    padding-top: 20px;
    color: white;
    font-size: 54pt;
}

#textBox {
    width: 50%;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dropbtn {
    width: 195px;
    height: inherit;
    float: left;
    background-color: #CDD0D6;
    color: #575A5E;
    border: 0;
    font-size: 12pt;
}

.dropbtn:hover {
    background-color: #393A3D;
    cursor: pointer;
    color: #CDD0D6;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 30px;
    width: 195px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #393A3D;
    cursor: pointer;
    color: #CDD0D6;
}

.show {display:block;}
